.characterGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    padding: 15px;
}

.characterCard {
    margin: 10px;
}

.minusDiv, .plusDiv {
    display: inline-block;
}
.minusDiv button, .plusDiv button {
    display: block;
    margin: 10px 10px 0px 0px;
}